<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="/css/components/navbar.css">
  </head>
  <body>
    <nav id="navbar">
      <div class="nav-logo"><img src="/assets/images/logo/logo.png" alt="Zen Spaces Logo" class="nav-logo-img"></div>
      <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#blogs">Blogs</a></li>
      </ul>
        <div class="nav-btn">
          <button class="nav-enquiry-btn">Enquire Now</button>
        </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <script src="/js/components/navbar.js"></script>
  </body>
</html>